@font-face {
  font-family: Arsenica;
  src: url(../assets/font/Arsenica.ttf);
}

@font-face {
  font-family: NewYork;
  src: url(../assets/font/NewYork.otf);
}

@font-face {
  font-family:Wanters;
  src: url(../assets/font/Wanters.ttf);
}

.headlogo {

  
}


.header {
  position: absolute;
  width: 100%;
  z-index: 5;
}
.cntButton {
  border-radius: 8px;
  border: none;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:1.2rem;
  margin: 2px 1px;
  background-color: #ffffff;
  font-family: 'Wanters';
}
.navbar {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.iconic {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.modal{
  background-color:#050d18;
  border: 2px solid rgb(16,185,129);
  margin: auto;
  border-radius: 30px;
  margin-left: 25%;
  width: 50%;
  position: absolute;
  display: flex !important;
  top:10rem;
  z-index:10;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;

}
.modaltext{
  color:#ffffff;
  font-family: 'Wanters';
}
.modalclose{
  position: absolute;
  top:0;
  right:0;
  background-color: #10b981; /* Green */
  border: 2px solid rgb(16,185,129);
  border-radius: 30px;
  color:#050d18;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
.modalhead{
  color:#ffffff;
  font-family: 'Wanters';
  padding-top: 2rem;
}
.iconchild {
  padding-right: 20px;
}
.hamburger {
  display: none;
  background-color: #050d18;
}

.bar {
  display: block;
  width: 35px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navitem {
  margin-left: 3rem;
}

.navlink {
  font-size: 1.3rem;
  font-weight: 400;
  color: #ffffff;
  /* text-transform: uppercase; */
  font-family: 'Wanters';
}

.navlink:hover {
  color: #575757;
}

.navlogo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

@media only screen and (max-width: 768px) {
  .navmenu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #003d1b;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    opacity: 1;
  }
  .modaltext{
    color:#ffffff;
    font-family: 'Wanters';
    word-wrap: break-word;
  }
  .navmenu.active {
    left: 0;
  }
  .headlogo {
    display: none;
  }
  .navitem {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}

.footer {
  font-size: 1.5rem;
}
